h1 {font-size: 62pt; font-family: serif; color: rgb(220,175,30); }
p {font-size: 18pt;  font-family: serif;  color: rgb(168,168,148);  } 
ul {font-size: 22pt; font-family: serif;  color: rgb(98,98,98); } 
 

